@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.truncate-card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-wrapper {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("./assets/food-background-3.jpg");
}

.hero-wrapper .hero-content {
  position: absolute;
  /*  width: 70%; */
  height: 50%;
  left: 0;
  /* background-color: rgba(250, 250, 250, 0.2); */
  padding: 1rem;
}

.navbar-wrapper {
  width: 100%;
  padding: 0 1.5rem;
  background-color: rgba(165, 180, 252, 0.8);
  /* background-color: rgba(250, 250, 250, 0.8); */
}

.nav-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  /* width: 30%; */
  margin: auto;
}

.nav-link {
  border-left: 1px solid #fff;
}

.nav-link:last-child {
  border-right: 1px solid #fff;
}

.nav-link a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
}

.nav-links li a:hover {
  background-color: #3a3a3a;
}

.browse-button {
  padding: 15px;
  border: 1px solid rgba(165, 180, 252, 0.8);
  border-radius: 8px;
  background-color: rgba(165, 180, 252, 0.8);
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
}

.browse-button:hover {
  background-color: transparent;
}

.search-input {
  padding: 10px;
}

.btn-search {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.recipe-category {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}

.random-recipe-card {
  width: 250px;
  max-width: 250px;
  height: 330px;
  max-height: 330px;
}

.circled-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.suggestions-card-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.circled-image:hover {
  transform: scale(1.1);
}

.card-content {
  text-align: center;
  padding: 1rem 0;
}

.recipe-card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-card-content {
  padding: 14px;
  border: 1px solid rgba(165, 180, 252, 0.8);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  position: relative;
}

.squared-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.squared-image:hover {
  transform: scale(1.1);
}

.likes-display {
  position: absolute;
  top: -32px;
  right: -1px;
  z-index: 10;
  background-color: #fff;
  border-top-left-radius: 15px;
  width: 100px;
  padding: 8px 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(165, 180, 252, 0.8);
  border-left: 1px solid rgba(165, 180, 252, 0.8);
  border-right: 1px solid rgba(165, 180, 252, 0.8);
}

/* About Section */
.social-media-stats-card {
  position: relative;
  padding: 1.25rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  overflow: visible;
}

.card-icon {
  position: absolute;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(165, 180, 252);
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.expert-logo,
.brand-card {
  width: 80px;
}

.logo {
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin: auto;
}

.error-message {
  display: flex;
  color: red;
  align-items: center;
  border-left: 3px solid red;
  margin: auto;
  gap: 1rem;
  padding: 10px;
  background-color: #ff000030;
}

.warning-message {
  display: flex;
  align-items: center;
  border-left: 3px solid #ffc107;
  margin: auto;
  gap: 1rem;
  padding: 10px;
  background-color: #ffc10730;
}

.details-card-header {
  padding: 1.5rem 1rem;
  border-top: 1px solid rgba(165, 180, 252);
  border-right: 1px solid rgba(165, 180, 252);
  border-left: 1px solid rgba(165, 180, 252);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.details-card-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ingredient-ammount {
  background-color: #a5b4fc;
  border: 1px solid #a5b4fc;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  font-size: 14px;
  text-align: center;
  align-content: center;
  padding: 0.5rem 0;
  color: #fff;
  font-weight: 600;
}

.ingredient-name {
  border: 1px solid #a5b4fc;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0.5rem 0.25rem;
  align-content: center;
  font-size: 14px;
}

.tag {
  border: 1px solid #a5b4fc;
  border-radius: 8px;
  padding: 0.5rem 0;
  font-size: 14px;
  text-align: center;
}

.step-index,
.step-description {
  border: 1px solid #a5b4fc;
  padding: 0.75rem;
}

.step-index {
  background-color: #a5b4fc;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.step-description {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (min-width: 300px) and (max-width: 640px) {
  .hero-wrapper {
    background-image: url("./assets/background-mobile-4.jpg");
  }

  .hero-wrapper .hero-content {
    /* background-color: rgba(0, 0, 0, 0.4); */
  }

  .custom-paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dropdown-menu {
    background-color: rgba(165, 180, 252, 0.8);
  }

  .dropdown-menu-link:hover {
    color: #fff;
  }

  .browse-button {
    padding: 10px;
    font-size: 1em;
  }
}
